@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans";
}


header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 0%);
    padding: 25px 150px;
    
    img{
        width: 100px;
    }

    nav{
        display: flex;
        gap: 50px;
    }

    a{
        text-decoration: none;
        color: #908f8f;
        font-weight: 600;
        transition: all 0.3s;
    }

    a:hover{
        color: #fff;
        text-decoration: underline;
        transition: all 0.3s;
    }
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 100px 150px;
    background-image: url(../assets/images/headerBg.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-position: 0px -100px;
}

.banner-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner-info img{
    width: fit-content;
}

.banner-info h2{
    color: #d8d8da;
    font-size: 40px;
    font-weight: 400;
    max-width: 550px;
}

.banner-info hr{
    max-width: 80px;
}

.banner-info p{
    font-family: 'Raleway';
    font-style: normal;
    color: #979799;
    max-width: 550px;
}

.banner-info button{
    width: fit-content;
    padding: 10px 35px;
    background: transparent;
    font-weight: 800;
    color: #d8d8da;
    border: 2px solid #d8d8da;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    transition: all 400ms;
}

.banner-info button:hover{
    background-color: #d8d8da;
    color: #1c1c1c;
    transition: all 400ms;
}

.trial-container{
    background-color: #fefeff;
    color: #242323;
}

.trial-container span{
    color: #fe9a51;
}

.trial-title{
    padding: 10px 50px;
    background-color: #f0f0ff;
}

.trial-form{
    padding: 0px 50px;
}

.trial-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 40px;
}

.trial-form input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d8d8da;
    font-family: 'Raleway';
    font-size: small;
    font-weight: bold;
}

.trial-form input::placeholder {
    color: #cac8c8;
}

.trial-form input:focus{
    outline: none;
}

.trial-container button{
    width: 100%;
    padding: 20px;
    background-color: #fe9a51;
    font-weight: 800;
    border: none;
    color: #f2f2f8;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    transition: all 400ms;
}

.trial-container button:hover{
    background-color: #ee8e49;
    transition: all 400ms;
}

.socialmedia{
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid #565454;
}

.social-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.socialmedia h3{
    color: #565454;
    font-size: 23px;
}

.socialmedia p{
    color: #908f8f;
    max-width: 400px;
}

.socialmedia img{
    width: 550px;
}

.tabs-section{
    display: flex;
    padding: 150px;
    font-weight: bold;
    justify-content: space-between;
    background-color: #f4f5f4;
    color: #f0f0ff;
}

.tab{
    width: fit-content;
    padding: 45px 35px;
    background-color: #323332;
    border: 0.5px solid #d8d8da;
}

.orange{
    background-color: #ff8b38;
}

.tabs-container{
    display: flex;
    flex-direction: column;
}

.tab-info{
    display: flex;
    flex-direction: column;
    gap:40px;
}

.tab-info h3{
    color: #1c1c1c;
}

.tab-info p{
    font-weight: normal;
    color: #908f8f;
    max-width: 480px;
}

.tab-info button{
    width: fit-content;
    padding: 15px 30px;
    background-color: #fe9a51;
    font-weight: 800;
    border: none;
    color: #f2f2f8;
    font-family: 'Raleway';
    font-style: normal;
    transition: all 400ms;
}

.tab-info button:hover{
    background-color: #ee8e49;
    transition: all 400ms;
}

.list-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
}

.list-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.list-text hr {
    border: none;
    height: 3px;
    background-color:#ee8e49;
    max-width: 15%;
}

.list-text p{
    font-size: 14px;
    max-width: 400px;
    color:#908f8f;
}

.item-container{
    display: flex;
    align-items: center;
    gap: 30px;
}

.item-container .item h4{
    font-size: medium;
    font-weight: 400;
}

.item-container .item p{
    max-width: 350px !important;
}

.item-container img{
    width: fit-content;
    height: fit-content;
}

.picture-section{
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    background-color: #f4f5f4;
}

.picture-section img{
    object-fit: cover;
}

.picture-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.picture-text hr {
    border: none;
    height: 3px;
    background-color:#ee8e49;
    max-width: 15%;
}

.picture-text p{
    font-size: 14px;
    max-width: 550px;
    color:#908f8f;
}

.awesome-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px 150px;
}

.awesome-section p{
    font-size: 14px;
    color:#908f8f;
}

.awesome-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.awesome-text h3{
    font-family: Raleway;
    font-style: inherit;
    font-size: 40px;
    font-weight: 300;
}

.awesome-text hr {
    width: 20%;
    border: none;
    height: 3px;
    background-color:#ee8e49;
}

.awesome-text p{
    font-size: 14px;
    max-width: 550px;
    color:#908f8f;
}

.items-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.awesome-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.awesome-item h3{
    color: #1c1c1c;
}

.awesome-item p{
    max-width: 380px;
}

.pricing-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
    padding: 100px 100px;
    background-color: #f4f5f4;
}

.pricing-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.pricing-text h3{
    font-family: Raleway;
    font-style: inherit;
    font-size: 40px;
    font-weight: 300;
}

.pricing-text hr {
    width: 10%;
    border: none;
    height: 3px;
    background-color:#ee8e49;
}

.pricing-text p{
    font-size: 14px;
    max-width: 550px;
    color:#908f8f;
}

.pricing-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing-container .plan{
    background-color: #333232;
    color: #979799;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms;
}

.pricing-container .plan:hover{
    transform: scale(103%);
    transition: all 300ms;
}

.pricing-container h2{
    color: #d8d8da;
}

.name{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    border-bottom: 1px solid #f6f6f6;
}

.price{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 4px solid #ee8e49;
    padding-bottom: 20px;
}

.price-element{
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
}

.price span{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 110px;
}

.price .title{
    font-style: italic;
    font-weight: bold;
}

.items-container    {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 90px;
    gap: 20px;
    background-color: #fffefe;
    font-size: 14px;
}


.tag p{
    color: #fafafc;
    font-weight: bold;
}

.customers-section{
    padding: 100px 150px;
}

.customer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.customer-text h3{
    font-family: Raleway;
    font-style: inherit;
    font-size: 40px;
    font-weight: 300;
}

.customer-text hr {
    width: 10%;
    border: none;
    height: 3px;
    background-color:#ee8e49;
}

.customer-text p{
    font-size: 14px;
    max-width: 550px;
    color:#908f8f;
}

.customers-container{
    display: flex;
    padding: 80px 0px;
    justify-content: space-between;
}

.customers-container .customer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 237px;
    height: 147px;
    position: relative;
    transition: all 400ms;
}

.customers-container .customer:hover{
    transform: scale(105%);
    transition: all 400ms;
}

.text-box{
    font-size: 13px;
    font-style: oblique;
    color:#908f8f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    width: 237px;
}

.profile{
    display: flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}

.profile img{
    width: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-text h3{
    color: #1c1c1c;
}

.profile-text p{
    font-size: 14px;
    color:#908f8f;
}

.stylish-section{
    padding: 80px;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.4)),
    url("../assets/images/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
}

.stylish-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.stylish-text h3{
    color: #f2f2f8;
    font-family: Raleway;
    font-style: inherit;
    font-size: 40px;
    font-weight: 300;
}

.stylish-text hr {
    width: 7%;
    border: none;
    height: 3px;
    background-color:#f9f5f5;
}

.stylish-text p{
    font-size: 14px;
    max-width: 550px;
    color:#e4dfdf;
    font-weight: 300;
}

.stylish-text button{
    width: fit-content;
    padding: 10px 40px;
    background-color: transparent;
    font-weight: 800;
    font-family: 'Raleway';
    font-style: normal;
    color: #f2f2f8;
    border: 3px solid #f0f0ff;
    transition: all 400ms;
}

.stylish-text button:hover{
    background-color: #f0f0ff;
    color: #242323;
    transition: all 400ms;
}

.contact-section{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 150px;
}

.contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact-text h3{
    font-family: Raleway;
    font-style: inherit;
    font-size: 40px;
    font-weight: 300;
}

.contact-text hr {
    width: 5%;
    border: none;
    height: 3px;
    background-color:#ee8e49;
}

.contact-text p{
    font-size: 14px;
    max-width: 550px;
    color:#908f8f;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.form-container button{
    width: fit-content;
    padding: 15px 30px;
    background-color: #fe9a51;
    font-weight: 400;
    border: none;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 500;
    transition: all 400ms;
}

.form-container button:hover{
    background-color: #ee8e49;
    transition: all 400ms;
}

.contact-section form{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-section input{
    width: 480px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d8d8da;
    font-family: 'Raleway';
    font-size: small;
    font-weight: 500;
}

.contact-section input::placeholder {
    color: #cac8c8;
}

.contact-section input:focus{
    outline: none;
}

.contact-section textarea{
    width: 480px;
    height: 195px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #d8d8da;
    font-family: 'Raleway';
    font-size: small;
    font-weight: 500;
    resize: none;
}

.contact-section textarea::placeholder {
    color: #cac8c8;
}

.contact-section textarea:focus{
    outline: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px;
    background-color: #000000;
    color: #d8d8da;
    font-size: small;
    gap: 10px;
}

.social-images{
    display: flex;
    gap: 20px;
}

.social-images img{
    width: 24px;
}


@media (max-width:1279px) {
    .section-start{
        flex-direction: column;
        gap:100px;
    }

    .socialmedia{
        text-align: center;
        flex-direction: column;
        gap: 30px;
    }

    .tabs-section{
        padding: 100px 150px;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .tabs-container{
        flex-direction: row;
    }

    .tab-info{
        align-items: center;
    }

    .list-section{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .list-section h3{
        text-align: center;
    }

    .picture-section{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .picture-section img{
        width: fit-content;
        object-fit: cover;
    }

    .picture-text h3{
        text-align: center;
    }

    .itemsContainer{
        gap: 40px;
    }

    .pricing-container{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .customers-section{
        text-align: center;
    }

    .customers-container{
        flex-direction: column;
        align-items: center;
        gap: 150px;
    }

    form{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width: 920px) {
    header{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .items-container{
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    nav{
        gap: 20px !important;
        padding: 0px 50px ;
    }

    .section-start{
        padding: 50px 50px;
        justify-content: center;
    }

    .section-start .banner-info h2{
        font-size: xx-large;
    }

    .socialmedia{
        padding: 50px;
    }

    .socialmedia img{
        max-width: 100%;
    }

    .tabs-section{
        padding: 50px 60px;
    }

    .tabs-section img{
        max-width: 100%;
    }

    .list-section{
        padding: 50px 60px;
    }

    .list-section img{
        max-width: 100%;
    }

    .picture-section{
        padding: 50px 60px;
    }

    .picture-section img{
        max-width: 100%;
    }

    .awesome-section{
        padding: 50px 60px;
    }

    .awesome-text{
        text-align: center;
    }

    .awesome-text h3{
        font-size: x-large;
    }

    .pricing-section{
        padding: 50px 60px;
    }

    .pricing-text{
        text-align: center;
    }

    .pricing-text h3{
        font-size: x-large;
    }

    .pricing-container .plan .price-element span{
        font-size: 70px;
    }

    .customers-section{
        padding: 50px 60px;
    }

    .customer-text h3{
        font-size: x-large;
    }

    .stylish-section{
        padding: 50px 60px;
        text-align: center;
    }

    .stylish-text h3{
        font-size: x-large;
    }

    .contact-section{
        padding: 50px 60px;
    }

    .contact-text h3{
        font-size: x-large;
    }

    .form-container form .form-text{
        align-items: center;
    }

    .contact-section input{
        max-width: 50%;
    }

    .contact-section textarea{
        max-width: 100%;
    }

    footer .social-images{
        gap: 40px;
    }
    
}

@media (max-width: 480px) {

    nav{
        text-align: center;
        flex-direction: column;
    }

    .section-start{
        justify-content: center;
    }

    .section-start .banner-info h2{
        font-size: x-large;
    }

    .tabs-section .tabs-container{
        text-align: center;
    }

    footer{
        padding: 20px 0px;
    }

    footer .social-images{
        gap: 20px;
    }
}